@import "tailwindcss";

@theme {
  --color-gradient-left-primary: rgba(142, 113, 56, 1);
  --color-gradient-right-primary: rgba(244, 194, 97, 1);
  --color-text-primary: #F4C261;
  --color-text-secondary: #0F3064;
}